<!DOCTYPE html>
<html>
<head>
  <title>Vinyl</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="/styles/style.css">
</head>
<body>
  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">Vinyl</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <% if (user) { %>
          <li><a class="waves-effect waves-light btn" href="/users/<%= user.id %>">Profile</a></li>
          <li><a class="waves-effect waves-light btn" href="/sign_out">Sign Out</a></li>
        <% } else { %>
          <li><a class="waves-effect waves-light btn" href="/sign_up">Sign Up</a></li>
          <li><a class="waves-effect waves-light btn" href="/sign_in">Sign In</a></li>
        <% } %>
      </ul>
    </div>
  </nav>
