<% include includes/header.ejs %>

<div>
  Review {album name}
</div>
<form>
  <textarea rows="50" cols="50" required></textarea>
  <input type="submit" value="Submit">
</form>

<% include includes/footer.ejs %>
