<% include includes/header.ejs %>

  <div>
    <div>
      Sign up for Vinyl
    </div>
    <form action="/users/sign_up" method="post">
      Name <input type="text" name="name" placeholder="Your Name" required>
      Email <input type="email" name="email" placeholder="Your Email" required>
      Password <input type="password" name="password" placeholder="Enter a password" required>
      <input type="submit" value="Sign Up">
    </form>
    <% if (signUpError) { %>
      <div class="flashError">
        <%= signUpError %>
      </div>
    <% } %>
  </div>

<% include includes/footer.ejs %>

