<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/styles/style.css" rel="stylesheet">
  </head>
  <body>
    <div>
      <div>
        Sign In
      </div>
      <form action="/users/sign_in" method="post">
        Email <input type="email" name="email" placeholder="Your Email">
        Password <input type="password" name="password" placeholder="Enter a password">
        <input type="submit" value="Sign In">
      </form>
      <% if (signInError) { %>
        <div class="flashError">
          <%= signInError %>
        </div>
      <% } %>
    </div>
  </body>
</html>
